{% extends "base.html" %}
{% block content %}
<section class="about_part ">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="{{ url_for('static', filename='img/pillow.png') }}" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">

                    <h2>Why Choose Our Mattress Pillow? </h2>
                    <p>Discover the epitome of comfort with our exquisite range of pillows. From plush and supportive to cloud-like
                        softness, our pillows are crafted with precision to cradle your head and neck in sublime comfort. Whether you prefer
                        the gentle support of memory foam or the classic feel of down, our diverse selection ensures you find the perfect pillow to enhance your 
                        sleep quality. Elevate your bedtime routine with a touch of luxury and wake up feeling refreshed every morning. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chefs_part blog_item_section ">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <h2>Pillow</h2>
                </div>
            </div>
        </div>
        <div class="row mt-mb-4">
            {% for i in product_det %}
            <div class="col-sm-6 col-lg-4 mb-4 mt-2">
               
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="{{ url_for('static', filename='img/pillow/' + i['image'][0]) }}" alt="">
                        </div>
                        <div class="single_blog_text text-center">
                            <h3>{{i.name}}</h3>
                           
                        </div>
                    </div>
         
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
