{% extends "base.html" %}
{% block content %}

<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Terms and Condition</h3>
<ul class="unordered-list">
    <li>This price list supercedes all previous price lists</li>
    <li>Price Quoted above are inclusive of all taxes.</li>
    <li>Prices are subject to change without prior notice.</li>
    <li>For Regular Non Standerd size, Per Squre Feet Prices or the Prices for next higher size whichever will be charged.</li>
    <li>Disputes, if any subject to Jaipur Jurisdiction only.</li>
    <li>Tolerances: Lenght or width + 12 mm - 6 mm.</li>
</ul>
    </div>
</section>


{% endblock content %}
